body {
	font-family: 'Kaushan Script', cursive;
	background: url('../img/bar.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
	text-align: center;
}

h1 {
	font-size: 4em;
}
h4 {
	font-size: 2em;
}
